<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Personal Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="main-heading">AI Personal Assistant</h1>

    <div class="container">

        <h2>Ask Anything</h2>
        <form id="askForm">
            <input type="text" name="question" placeholder="Ask anything..." required>
            <button type="submit">Ask</button>
        </form>
        <p id="ans-loading" style="display: none;">Processing...</p>
        <p id="answer"></p>

        <hr>

        <h2>Summarize Email</h2>
        <form id="emailForm">
            <textarea type="text" name="email" placeholder="Paste your email here.." required></textarea>
            <button type="submit">Summarize</button>
        </form>
        <p id="summary-loading" style="display: none;">Processing...</p>
        <p id="summary"></p>

    </div>

<script>
    document.getElementById("askForm").onsubmit = async (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);

        let loading = document.getElementById("ans-loading");
        loading.style.display = "block";   // show loader

        let res = await fetch("/ask", {
            method: "POST",
            body: formData
        });

        let data = await res.json();
        document.getElementById("answer").innerText = data.response;

        loading.style.display = "none";   // hide loader
    };

document.getElementById("emailForm").onsubmit = async (e) => {
    e.preventDefault();
    let formData = new FormData(e.target);

    let loading = document.getElementById("summary-loading");
    loading.style.display = "block";

    let res = await fetch("/summarize", {
        method: "POST",
        body: formData
    });

    let data = await res.json();
    document.getElementById("summary").innerText = data.response;

    loading.style.display = "none";   // hide loader
};

</script>

</body>
</html>